@font-face {
    font-family: 'Smooch';
    src: url('../fonts/Smooch-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


// Variables
$background-color:  #165B33;

$text-color: #ffff;

#canvas {position: fixed; top:0px; left: 0px;}

body {
    background-color: $background-color;
    font-family: 'Merriweather';
}

.main-header {
    color: $text-color;
    font-size: 100px;
    margin: 25px;
    font-family: 'Smooch';
}

.tab-container {
    .nav-tabs .nav-link {
        font-size: 30px;
        color: #BB2528;
        font-family: 'Smooch';
    }

    .card {
        padding: 25px;
    }
}







